version: "3.7"

services:
  rstudio:
    image: rocker_sp_temp_gpu:latest
    build :
      context: .
      dockerfile: ./dockerfile/rstudio.dockerfile
    volumes: 
      - $pwd:/home/rstudio/
    container_name: rocker_sp_temp_gpu
    environment:
      - USERNAME=rstudio
      - PASSWORD=rstudio777
      - TZ=Asia/Tokyo
      - root=TRUE
    ports:
      - 7770:8787
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    working_dir: /work
    tty: true
    restart: always
